<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생성하기</title>
</head>
<body>
<center>
    <form id="create-form" method='POST' action='{% url "userlogin" %}'>
        {% csrf_token %}
        <h3>로그인</h3>
        <label for="user1NickName">닉네임</label>
        <input id='user1NickName' type="text" name='username' required>
        <br>
        <label for="user1Password">비밀번호</label>
        <input id='user1Password' type="password" name='password'>
        <br>
        <br><br>
        
        <button type = "submit" id="start">시작하기</button>
        
     </form>

</center>
</body>
{% comment %} <script src="../static/js/new_create.js"></script> {% endcomment %}
</html>