<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <p id="testName">{{test.testname}}</p>
    <br>
    <p id="user1Name">{{test.username.name}}</p>
    <br>
    
    <span id="ans1">{{test.truetag1}}</span>
    <span id="ans2">{{test.truetag2}}</span><br>
    <span id="ans3">{{test.truetag3}}</span>
    <span id="ans4">{{test.truetag4}}</span><br>
    <span id="ans5">{{test.truetag5}}</span>
    <span id="ans6">{{test.falsetag1}}</span><br>
    <span id="ans7">{{test.falsetag2}}</span>
    <span id="ans8">{{test.falsetag3}}</span><br>
    <span id="ans9">{{test.falsetag4}}</span>
    <span id="ans10">{{test.falsetag5}}</span>



    <!-- <span id="true1"></span>
    <span id="true2"></span><br>
    <span id="true3"></span>
    <span id="true4"></span><br>
    <span id="true5"></span>
    <span id="false1"></span><br>
    <span id="false2"></span>
    <span id="false3"></span><br>
    <span id="false4"></span>
    <span id="false5"></span> -->
    
    <br><br>
    <a href="{% url 'lobby' test.pk %}"><button>전달하기</button></a>

</center>
</body>
{% comment %} <script src="../static/js/user1_check.js"></script> {% endcomment %}
</html>