<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
</head>
<body>

<center>
    <h4 id = 'user2Name'>{{guest.name}}</h4>
    <p>5개의 항목을 선택해주세요</p>
    <br><br>
    


        <!-- action="{% url 'dotest' test.pk guest.pk %}" -->
        <p id='1' class="click" onclick="clickedAns(this)"></p>
        <p id='2' class="click" onclick="clickedAns(this)"></p><br>
        <p id='3' class="click" onclick="clickedAns(this)"></p>
        <p id='4' class="click" onclick="clickedAns(this)"></p><br>
        <p id='5' class="click" onclick="clickedAns(this)"></p>
        <p id='6' class="click" onclick="clickedAns(this)"></p><br>
        <p id='7' class="click" onclick="clickedAns(this)"></p>
        <p id='8' class="click" onclick="clickedAns(this)"></p><br>
        <p id='9' class="click" onclick="clickedAns(this)"></p>
        <p id='10' class="click" onclick="clickedAns(this)"></p><br>
        
        <br>
        <div id="result">
            <a href="{% url 'result' test.pk guest.pk %}"><button id="result" type="submit">결과 보기</button></a>
        </div>

</center>
</body>

<script>
    let tags = ["{{test.truetag1}}", "{{test.truetag2}}", "{{test.truetag3}}", "{{test.truetag4}}", "{{test.truetag5}}", 
    "{{test.falsetag1}}","{{test.falsetag2}}","{{test.falsetag3}}","{{test.falsetag4}}","{{test.falsetag5}}",]

    let truetags = ["{{test.truetag1}}", "{{test.truetag2}}", "{{test.truetag3}}", "{{test.truetag4}}", "{{test.truetag5}}",]
</script>
<script src="{% static 'js/user2_test.js' %}"></script>
</html>